.add_new_task {
    /* width: 20vh;
    height: 50vh;  */
    /* margin-top: 5vh; */
}

.new_task_fields, label {
    /* padding: 2vh; */
    gap: 1vh;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
}

.new_task_submit_btn {
    margin-top: 1.3vh ;
}
